*{
    margin:0;
    padding:0;
}

main{
    display: grid;
    font-size: 1vw;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    width:100%;
    margin :1em auto;
    height: 90%;
}

@font-face{
    font-family: american cap;
src : url("American\ Captain.ttf");
}
header h1{
    font-family: american cap;
}

a{
    font-weight: bold;
}

section a{
    color:maroon;
}
section a:link{
    color:maroon;
}
section a:visited{
    color:maroon;
}
section a:focus{
    color:steelblue;
}
section a:hover{
    color: steelblue;
}
header{
    background-image: linear-gradient(to bottom,white,lightsteelblue);
    border-bottom:2px solid steelblue;
    padding-bottom: 1.5em;
}

header > h1{
    font-style: italic;
    color:steelblue;
    font-size: xx-large;
    margin-bottom: 10px;
    margin-left: 120px;
    }

header img{
    float:left;
    text-indent: 50px;
    max-width: 120px;
    min-width: 100px;
}
section{
   
    flex-basis: 80%;
    margin: 1em;
    padding: 1em;
    line-height: 1;
    & li{
        list-style-type: square;
        padding:.10em;
        margin:1em;
        margin-left: 2.5em;
    }
     h1,h3{
        padding-bottom:.5em;
        padding-top:.5em;
    }
    & img {
        display: block;
          width: 400px; /* Sets the width to 300 pixels */

        
	
}
    & figure{
        margin: 0; /* Remove default figure margins */
        max-width: 200px; /* Adjust as needed */
        height: auto;
	}
	& figcaption{
font-weight: bold;
border-bottom: 2px solid steelblue;
clear: left; /* Ensure caption appears below the floated image */
        width: fit-content; /* Make the caption width fit its content */
	}
   

}
p {

    padding-left: 2em;
    margin-bottom: 2em;
    margin-left: 5em;
}
h3 {
    clear: left; /* or clear: both; */
    padding-bottom: .5em;
    padding-top: .5em;
}



article {
    display: flex;
  align-items: flex-start;
  gap: 1em;
  overflow: auto;
	& img {
		border: 1px solid var(--dark);
		margin-right:1em;
        height: auto;
        display: block;
	}
    & figure{
        margin: 0;
        max-width: 200px;
        height: auto;
    }
    & figure img{
        display: block;
        max-width: 160%;
        height: auto;
    }
}

article .text-content {
    flex: 1;
  }

aside{
    flex-basis:20%;
 float:right;
    border:2px solid steelblue;
    border-radius: 2em;
    padding:1em;
    margin:1em;
    height:50%;
}


aside  h1{
    color:maroon;
}
aside a {
    color:steelblue;
}
aside a:link{
    color:steelblue;
}
aside a:hover{
    color:maroon;
}
aside a:focus{
    color:maroon;
}
aside ul{
    line-height: 1.5;
    list-style-position: inside;
    padding:2px;
    list-style-type: none;
}
footer{
    clear:both;
    padding:1em;
    font-size: small;
    text-align: center;
    background-color: steelblue;
    & p{
        color:white;
    }
}

nav.navbar ul.submenu li:hover a {
    text-decoration: underline;
}

nav.navbar ul.submenu li a {
  display: block;
  margin:0;
}

nav.navbar ul.submenu li a{
	padding:10px;
}



.menu{
	display: flex;
	flex-wrap: wrap;
}
.menu li{
		flex-basis: 20%;
	}
	.menu li:has(.submenu) {
		position: relative;
	  }
	  .menu li a small {
		margin-left: 5px; 
	  }
	  
	  .menu li:hover .submenu {
		display: block;
		padding: 12px;
	  }
	  .submenu {
		position: absolute;
		left: 0;
		right: 0;
		background-color: steelblue;
		color: white;
		display: none; 
		text-align: left;
	  }


	  .navbar a{
		display: block;
		padding: 1em;
		text-decoration: none;
		color: white;
		  }

	.navbar ul{
	margin: 0;
	  padding: 0;
	  list-style-type: none;
		}

.navbar{
	background-color: steelblue;
	text-align: center;
}

.navbar a.current{
	border: 2.5px solid white; 
  border-radius: 10px; 
  display: inline-block;
  padding: 8px;
  margin: 0.5em;
  padding-left: 15px;
  padding-right: 15px;
}

aside ul li:nth-child(1) {
    background-image: url('../images/run-icon.png');
}
aside ul li:nth-child(2) {
    background-image: url('../images/stretch-icon.png');
}
aside ul li:nth-child(3) {
    background-image: url('../images/strength-icon.png');
}
aside ul li:nth-child(4) {
    background-image: url('../images/cardio-icon.png');
}
aside ul li:nth-child(5) {
    background-image: url('../images/yoga-icon.png');
}
aside ul li {
    padding-left: 2em;
    margin-bottom: 1em;
    background-repeat: no-repeat;
    background-position: 0 0.5em;
    background-size: 1em;
}

form {
        max-width: 600px;
        margin: 20px 0; /* Changed margin: 20px auto; to margin: 20px 0; */
        padding: 20px;
        border-radius: 8px;
        font-family: Arial, sans-serif;
        margin-left: 0; /* Added margin-left: 0; to align left */
      }
      fieldset {
        margin-bottom: 20px;
        padding: 15px;
        border-radius: 8px;
      }
      legend {
        font-weight: bold;
        margin-bottom: 10px;
        color: maroon; 
      }
      label {
        display: block;
        margin-bottom: 5px;
      }
      input[type="text"],
      input[type="email"],
      input[type="number"],
      textarea,
      select {
        width: 100%;
        padding: 8px;
        margin-bottom: 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
        box-sizing: border-box;
        background-color: white;
      }
      textarea {
        resize: vertical;
      }
      input[type="radio"],
      input[type="checkbox"] {
        margin-right: 5px;
      }
      button {
        padding: 10px 20px;
        margin-right: 10px;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
    button[type="submit"]:hover {
        background-color: rgb(62, 104, 138);
      }
      button[type="reset"]:hover {
        background-color:rgb(90, 6, 6);
      }
      .required {
        color: red;
      }

      #age { 
        color:black; }

        #name,
      #email,
      #height,
      #weight {
        border-color: red;
      }

       button[type="submit"] {
        background-color: steelblue;
      }
      button[type="reset"] {
        background-color: maroon;
      }