body{
    font-family: Arial, Helvetica, sans-serif;
}
a{
    font-weight: bold;
  color:maroon;
}

a:visited{
    color:maroon;
}
a:focus,a:hover{
    color:steelblue;
}

 h1{
    font-style: italic;
    color:steelblue;
    font-size: 200%;
    }

    section h3{
        font-style: italic;
        color:steelblue;
        font-size: medium;
        }
header img{
    float:left;
    white-space: 10;
}

