*{
    margin:0;
    padding:0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    width:700px;
    border: solid steelblue;
    box-shadow:8px black;
    margin: auto;
}
a{
    font-weight: bold;
}
section  a{
    color: maroon;
}
section a:link{
    color:maroon;
}
section a:visited{
    color:maroon;
}
section a:focus,a:hover{
    color:steelblue;
}

header{
    background-image: linear-gradient(white,none,lightsteelblue,none);
    border-bottom:solid lightsteelblue;
}

header > h1{
    font-style: italic;
    color:steelblue;
    font-size: xx-large;
    }

header img{
    float:left;
    text-indent: 50px;
}

aside{
    border:2px solid steelblue;
    border-radius: 2em;
}

aside  h1{
    color:maroon;
}
aside a {
    color:steelblue;
}
aside a:link{
    color:steelblue;
}
aside a:hover{
    color:maroon;
}
aside a:focus{
    color:maroon;
}
aside ul{
    line-height: 1.5;
}
footer{
    font-size: small;
    text-align: center;
    background-color: steelblue;
    & p{
        color:white;
    }
}